* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    list-style: none;
    border-collapse: collapse;
}

:root {
    --body-bg-color: #f7f0ef;
    --gradiant-from: #614485;
    --gradiant-to: #526295;
    --container-bg-color: #f7f7ff;
    --btn-add-bg-color: #ed6a5a;
    --table-header-bg-color: #f9f9f9;
    --table-tr-border-color: #ededed;
    --status-bg-color: #9bc1bc;
    --btn-close-bg-color: #ee7464;
    --border-radius: 10px;
    --thead-color: #999999;
    --container-shadow-black: 0, 0, 0, 0.05;
    --input-border-color: black;
    --h1-color: white;
    --todo-list-bg-color: white;
    --btn-add-shadow-color: #ed6a5a94;
    --status-shadow-color: #9bc1bc61;
    --delete-btn-shadow-color: #ff00002e;
    --placeholder-color: #8e8e8e;
    --delete-btn-bg-color: white;
    --dark-mode-bg-color: #ccb7ae;
    --dark-mode-color: white;
    --darm-mode-bottom: 1.5rem;
    --darm-mode-right: 1.5rem;
    --dark-mode-content: '\263E';
}

.Dark {
    --body-bg-color: #222831;
    --todo-list-bg-color: #31363F;
    --container-bg-color: #EEEEEE;
    --input-border-color: white;
    --gradiant-from: #1c1c1c;
    --gradiant-to: #001022;
    --btn-add-shadow-color: rgba(237, 106, 90, 0.25);
    --status-shadow-color: rgba(155, 193, 188, 0.15);
    --delete-btn-shadow-color: rgba(255, 0, 0, 0.08);
    --placeholder-color: #555967;
    --delete-btn-bg-color: rgba(0, 0, 0, 0.16);
    --container-shadow-black: 118, 171, 174, 1;
    --dark-mode-bg-color: #66728e;
    --dark-mode-content: '\2600';
}

::placeholder {
    color: var(--placeholder-color);
}

.Dark input:not(:disabled) {
    background-color: var(--todo-list-bg-color);
    color: white;
    color-scheme: dark;
}

.Dark h2 {
    color: rgba(255, 255, 255, 0.52);
}

.Dark input:disabled {
    background-color: rgba(0, 0, 0, 0.24);
    color: rgba(255, 255, 255, 0.42);
    color-scheme: dark;
}

body {
    position: relative;
    font-family: Arial, sans-serif;
    background-color: var(--body-bg-color);
    min-height: 100vh;
    padding-bottom: 5rem;
}

.todo-container > * {
    z-index: 5;
    position: relative;
}

.todo-container {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    padding: 0.5rem 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    background-color: var(--container-bg-color);
    box-shadow: 4px 4px 8px 0 rgba(var(--container-shadow-black));
    width: 80%;
    margin: 5rem auto;
}

.todo-container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background: linear-gradient(90deg, var(--gradiant-from), var(--gradiant-to) 80%);
    z-index: 1;
}

h1 {
    color: var(--h1-color);
    font-weight: 100;
}

.input-container, .todo-list {
    background-color: var(--todo-list-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    border-radius: var(--border-radius);
    box-shadow: 4px 4px 8px 0 rgba(var(--container-shadow-black));
    padding: 4rem 0;
}

.input-container {
    gap: 3rem;
}

input:not([readonly]) {
    border-bottom: 1px solid var(--input-border-color);
    border-radius: 0;
}

.input-container input {
    padding: 0.4rem;
    border-radius: 5px 5px 0 0;
}

.input-container input[type="text"] {
    font-size: 1.1rem;
    width: 63%;
}

.input-container input[type="datetime-local"] {
    font-size: 1rem;
    width: 63%;
}

.input-container button {
    color: white;
    background-color: var(--btn-add-bg-color);
    padding: 0.5rem 4rem;
    border-radius: calc(var(--border-radius) / 2);
    font-size: 1rem;
    box-shadow: 0 8px 20px 0 var(--btn-add-shadow-color);
}

.todo-list {
    margin: 0.5rem auto;
    padding-bottom: 6rem;
}

.todo-in-container {
    width: 100%;
}

h1 {
    text-align: left;
    font-weight: 700;
    font-size: 1.3rem;
    padding: 1rem;
}


p {
    text-align: center;
    padding: 0.7rem 0.1rem;
}

.todo-in-container input, .todo-in-container select {
    text-align: center;
    font-size: 1rem;
    border-radius: 5px;
    padding: 0.4rem 0;
}

.todo-in-container select {
    color: white;
    background-color: var(--status-bg-color);
    box-shadow: 0 8px 20px 0 var(--status-shadow-color);
}

button, select, input[readonly] {
    cursor: pointer;
}

.delete-btn {
    background-color: var(--delete-btn-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    padding: 0.3rem;
    border-radius: 5px;
    box-shadow: 0 8px 20px 0 var(--delete-btn-shadow-color);
}

.todo-in-container > div {
    display: grid;
    grid-template-columns: auto minmax(200px, 250px) minmax(120px, 15%) 32px;
    border-bottom: 1px solid var(--table-tr-border-color);
    padding: 1rem;
    gap: 1rem;
}

.dark-mode-button {
    position: fixed;
    bottom: var(--darm-mode-bottom);
    right: var(--darm-mode-right);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: var(--dark-mode-bg-color);
    color: var(--dark-mode-color);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

}

.dark-mode-button:before {
    content: var(--dark-mode-content);
    font-size: 3rem;
    width: 50px;
    height: 68px;
}

@media only screen and (max-width: 860px) {
    :root {
        --darm-mode-right: 0;
        --darm-mode-bottom: 0;
    }

    .todo-in-container > div {
        grid-template-columns: auto;
    }

    .todo-container {
        width: 90%;
    }

    .delete-btn {
        width: 30px;
    }

}